// Fonts
  $font-family: "Montserrat", sans-serif;
  $second-family: "Roboto", sans-serif;

// Colors
  $primary-text-color: #FFFFFF;
  $secondary-text-color: #333333;
  $third-text-color: #666666;
  $fourth-text-color: #FF4E50;
  $border-header-btn: #FFFFFF;
  $bg-header-btn: #FF4E50;
  $icon-tv-bgc: #FF4E50;
  $icon-tube-bgc: #FFA507;
  $icon-cup-bgc: #1CD7AD;
  $icon-plane-bgc: #4E73DB;
  $icons-stroke: #FFFFFF;
  $border-main-btn: #FF4E50;